div.clear {
	clear: both;
}

div#header{
text-align:center;
width:960px;
}

img#logo{
	float:left;
	display:inline-block;
	margin:0 10px;
}
div#topnav{
	border-top:1px solid black;
	border-bottom:1px solid black;
	background-color:blue;
	width:960px;

	
}
div#topnav ul{
	padding:0;
	margin:0;
}
div#topnav li{
	padding: 0 30px;
	height:35px;
	border-left:1px solid black;
	text-align:center;
	line-height:35px;

}
div#topnav li:first-child {
	border-left: none;
	 }

div#topnav a{
	text-decoration:none;
	color:white;
}

div#topnav a:hover{
	text-decoration:underline;
}
div#topnav li{
	display:block;
	float:left;
}