<li class='request_list'>
	<span><%= request.project.name %></span>
	<span><%= request.asset.version_name %></span>
	<span><%= request.status %></span>
	<%= link_to "Update", edit_asset_path(asset) %>
	<div class="clear"></div>
</li>