<h1>Frequently Asked Questions</h1>

<h3 class="question"><a href="#">How do I sign up?</a></h3>
<div class="answer">
<p>Follow the sign up link!</p>
</div>

<h3 class="question"><a href="#">How do I logout?</a></h3>
<div class="answer">
<p>Hit the logout link in the upper right!</p>
</div>


<div class="clear"></div>