
<li class="project_list">
	
	<span><%= project.name %></span>
	<span><%= project.created_at %></span>
	<span><%= project.updated_at %></span>
	<%= link_to "Update", edit_project_path(project) %>
	<div class='clear'></div>
</li>

