
<table class="projects">
  <tr>
	<th>NAME</th>
	<th>RELEASE DATE</th>
	<th></th>
	<td></td>
  </tr>
  <% @projects.each do |project| %>
  <tr>
	<td><%= project.name.upcase %></td>
	<td><%= project.release_date.strftime('%m/%d/%Y') %></td>
	<td><%= button_to "Update Project", edit_project_path(project) if current_user.role == 'manager' %></td>
	<td><%= button_to "Create Asset", new_asset_path(:project_id => project) if current_user.role == 'manager' || 'postcrew'%></td>
  <% end %>
  </tr>
</table>