</br>
<div id="footer">

		<ul>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Policies', policies_path %></li>
			<li><%= link_to 'FAQ', faq_path %></li>
			<li><%= link_to 'Contact Us',contact_path %></li>
		</ul>
		<div class="clear"></div>
<p> Copyright &copy; 2011 J-Maxx All rights reserved. </p>
</div>